@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap)

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-links{
    list-style: none;
    
}
.nav-links li:hover{
    color: orange;
}
.nav-links li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: teal;
}

